* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --white: #FFFFFF;
    --black: #000000; 
    --very_light_pink: #C7C7C7;
    --text_input_field: #f7f7f7;
    --hospital_green: #ACD9B2;
    --hospital_blue: #acd8d9;
    --apple_green: #5edb6e;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body {
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form_container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
}
.logo {
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none;
}
.title {
    font-size: var(--lg);
    margin-bottom: 1.2rem;
    text-align: center;
}
.subtitle {
    color: var(--very_light_pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3.2rem;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 0.4rem;
}
.input{
    background-color: var(--text_input_field);
    border: none;
    border-radius: 8px;
    height: 3rem;
    font-size: var(--md);
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}
.primary_button{
    background-color: var(--hospital_green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
}

.input:focus {
    /* border-color: var(--hospital_blue); */
    outline-color: var(--hospital_blue);
}
.primary_button:hover, .primary_button:checked {
    background-color: var(--apple_green);
}

@media (max-width: 640px) {
    .logo{
        display: block;
    }
}