* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --white: #FFFFFF;
    --black: #000000; 
    --very_light_pink: #C7C7C7;
    --text_input_field: #f7f7f7;
    --hospital_green: #ACD9B2;
    --hospital_blue: #acd8d9;
    --apple_green: #5edb6e;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body {
    font-family: 'Quicksand', sans-serif;
}

.my_order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.title{
    font-size: var(--lg);
    margin-bottom: 4rem;
}
.my_order_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    margin-bottom: 3rem;
}
.my_order_content span{
    font-size: var(--md);
    font-weight: bold;
    color: var(--black);
}
.articles span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
    padding-bottom: 0.8rem;
    color: var(--black);
}
.articles span:nth-child(2){
    font-size: var(--sm);
    color: var(--very_light_pink);
}
.my_order_content div:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my_order_content div:nth-child(2) img{
    margin: 0 0 0 1rem;
}